<mat-card>
  <mat-card-header>
    <mat-card-title>Manage your Bookings</mat-card-title>
    <div style=" padding-right: 2rem;">
      <mat-form-field appearance="fill">
        <mat-label>Guest</mat-label>
        <mat-select [(value)]="selectedGuestId" (selectionChange)="onGuestSelected($event.value)"
          [compareWith]="comparGuestSelection">
          <mat-option *ngFor="let guest of availableGuests" [value]="guest">
            {{guest}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div style=" padding-right: 2rem;">
      <button mat-raised-button
      [disabled]="!guestId"
      color="primary" class=""
      routerLink="book" aria-label="Book room">
        <mat-icon>add</mat-icon>
        Book a room
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>

    <div style="display: flex; flex-wrap: wrap-reverse;">
      <my-bookings [myBookings]="myBookings"></my-bookings>

      <!-- <book-room> or <edit-booking> -->
      <router-outlet></router-outlet>
    </div>
  </mat-card-content>
</mat-card>
