

.roles-container {
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.mat-card {
  padding: 1rem;
  width: fit-content;
}

.description-cards-container {
  // display: grid;
  // grid-template-columns: repeat(3, max-content);

  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--primary);
}

description-card-with-rows{
  padding-top: 1rem;
}
