<div class="roles-container">
  <div class="mat-card">
    <div class="title">Example of cards with text-rows, displayed like a "fluid table"</div>

    <!-- <mat-card-header> -->
      <!-- <mat-card-subtitle>subtitle</mat-card-subtitle> -->
    <!-- </mat-card-header> -->

    <mat-card-content>


    <div class="description-cards-container">

      <description-card-with-rows title="Fritid" headerIconName="hiking">
      </description-card-with-rows>

      <description-card-with-rows title="Träning" headerIconName="fitness_center">
      </description-card-with-rows>

      <description-card-with-rows title="Idrott" headerIconName="sports_gymnastics">
      </description-card-with-rows>

      <description-card-with-rows title="Jobb" headerIconName="code">
      </description-card-with-rows>

      <description-card-with-rows title="Böcker" headerIconName="menu_book">
      </description-card-with-rows>

      <description-card-with-rows title="Vänner" headerIconName="people">
      </description-card-with-rows>

    </div>

  </mat-card-content>
  </div>
</div>
