<p>my-bookings works!</p>
<h1>My Current Bookings (and history) ({{myBookings.bookings.length}}) {{loadingStatus}}</h1>

<div style="min-height: 400px; padding-left: 2rem;">
  <div *ngFor="let booking of myBookings.bookings">
    <div style="padding-top: 0.3rem; border-top: 2px;">
      <b>bookingId: {{booking.bookingId}}</b>
      | checkInDate: {{booking.checkInDate}}
      - checkOutDate: {{booking.checkOutDate}}
      |  bookingPrice: {{booking.price}}
      <!-- roomNumber: {{booking.roomNumber}}
    <br>
    roomType: {{booking.roomType}}
    <br> -->
    </div>
  </div>
</div>
