<mat-toolbar color="primary" class="wrap-auto-height">
  <button mat-icon-button class="" aria-label="toggle menu"
  (click)="toggleSideNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>
    Angular Examples and Snippets |
  </span>
  <a mat-button class="" routerLink="/examples" aria-label="Examples">
    Examples
  </a>


  <a mat-button class="" routerLink="/bookings" aria-label="Bookings">
    Bookings
    <mat-icon>book</mat-icon>
  </a>
  <a mat-button href="https://127.0.0.1:2113/web/index.html#/dashboard" class="" target="_blank" aria-label="Eventstore">
    ESDB
    <mat-icon>db</mat-icon>
  </a>
  <span class="flexible-spacer"></span>

  <div class="flex">


    <button mat-icon-button class="" aria-label="share with friends">
      <mat-icon>share</mat-icon>
    </button>

    <a mat-button aria-label="github repository for this example app"
      href="https://github.com/JimiSweden/AngularExamplesAndSnippets" target="_blank">
      <!-- <span class="vertical-align-content"> -->
      <span class="mat-button-content-vertical-align-middle">
        <img src="./assets/icons/github-circle-white-transparent.svg"
          alt="github repository for this example app" class="logo-icon-image">
        Github
      </span>
    </a>

    <a mat-button aria-label="github repository for this example app"
      href="https://www.linkedin.com/in/jimi-lee-friis-b729155/" target="_blank">
      <!-- <span class="vertical-align-content"> -->
      <span class="mat-button-content-vertical-align-middle">
        <img src="./assets/icons/jimi-avatar-hat.jfif" alt="" class="rounded-image logo-icon-image">
      </span>
      LinkedIn
    </a>
  </div>

</mat-toolbar>
