<mat-toolbar color="primary" class="wrap-auto-height">
  <span>
    Angular Examples and Snippets
  </span>
  <span class="flexible-spacer"></span>

  <div class="flex">
    <button mat-icon-button class="" aria-label="share with friends">
      <mat-icon>share</mat-icon>
    </button>

    <a mat-button aria-label="github repository for this example app"
      href="https://github.com/JimiSweden/AngularExamplesAndSnippets" target="_blank">
      <!-- <span class="vertical-align-content"> -->
      <span class="mat-button-content-vertical-align-middle">
        <img src="./assets/icons/github-circle-white-transparent.svg"
          alt="github repository for this example app" class="logo-icon-image">
        Github
      </span>
    </a>

    <a mat-button aria-label="github repository for this example app"
      href="https://www.linkedin.com/in/jimi-lee-friis-b729155/" target="_blank">
      <!-- <span class="vertical-align-content"> -->
      <span class="mat-button-content-vertical-align-middle">
        <img src="./assets/icons/jimi-avatar-hat.jfif" alt="" class="rounded-image logo-icon-image">
      </span>
      LinkedIn
    </a>
  </div>

</mat-toolbar>
