<mat-card>
  <mat-card-title>Material button-toggle with ng-template and subscribed FormControl</mat-card-title>
  <mat-card-subtitle>
    This template lets you reuse the same look and logic from one mat-button-toggle-group
    injecting the FormControl to be attached. <br/>
    buttons value changes are logged in the developer-console.
  </mat-card-subtitle>
  <mat-card-content style="">

    <!--
      The templated button-toggle-group
      Note:  you must import the ReactiveFormsModule in app.module.ts (not FormsModule)
      to be able to use the '[formControl]' property
      See the usage further down to understand the props.
      you can pass in objects also, f ex if you have props to output tooltip, icon names etc...
      (see commit a86b0c0e if you want the simpler version only passing the FormControl)
    -->
    <ng-template #buttonGroupTemplate let-formControlObject="formControlObject">
      <mat-button-toggle-group [formControl]="formControlObject.control"
        [matTooltip]="formControlObject.tooltip" matTooltipPosition="right">
        <mat-button-toggle value="true">
          <mat-icon class="green">
            check_circle
          </mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="false">
          <mat-icon class="red">
            unpublished
          </mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="">
          <mat-icon class="gray">
            radio_button_unchecked
          </mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <div>selected value is: {{formControlObject.control.value == '' ? 'opt out' : formControlObject.control.value ?? 'not selected'}}</div>
    </ng-template>

    <!-- here we reuse the template as many times we want,
      all we need is a FormControl from the component (.ts) and pass it here in ngTemplateOutletContext
    -->


    <h3>Make your first choice</h3>
    <ng-template [ngTemplateOutlet]="buttonGroupTemplate"
    [ngTemplateOutletContext]="{formControlObject: firstFormControlObject}">
    </ng-template>
    <div style="padding-top: 2rem;"></div>

    <h3>Make your second choice</h3>
    <ng-template [ngTemplateOutlet]="buttonGroupTemplate"
    [ngTemplateOutletContext]="{formControlObject: secondFormControlObject}">
    </ng-template>
    <div style="padding-top: 2rem;"></div>

    <h3>Make your third choice</h3>
    <ng-template [ngTemplateOutlet]="buttonGroupTemplate"
    [ngTemplateOutletContext]="{formControlObject: thirdFormControlObject}">
    </ng-template>

    <mat-card-actions>


      <button mat-raised-button color="warn" (click)="clearSelectedValues()" style="margin-top: 2rem;">
        Clear Your Choices
      </button>
    </mat-card-actions>

  </mat-card-content>
</mat-card>
