<mat-card style="margin: 1rem; max-width: 500px;">
  <mat-card-content>
    <h2>Update Booking</h2>
    <form [formGroup]="bookingForm" (ngSubmit)="updateBooking()"
      id="formRefForSubmitOutsideOfForm">


      <mat-form-field>
        <!-- not used as for not -->
        <mat-label>Stay Period</mat-label>
        <mat-date-range-input
          formGroupName="stayPeriod"
          [rangePicker]="stayPeriodPicker"
          [min]="minDateCheckIn" [max]="maxDateCheckIn">
          <input matStartDate placeholder="From" formControlName="checkInDate" (dateChange)="onBookingFormChange()">
          <input matEndDate placeholder="To" formControlName="checkOutDate" (dateChange)="onBookingFormChange()">
        </mat-date-range-input>
        <mat-hint>YYYY-MM-DD – YYYY-MM-DD</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="stayPeriodPicker"></mat-datepicker-toggle>
        <mat-date-range-picker #stayPeriodPicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Confirm</button>
          </mat-datepicker-actions>
        </mat-date-range-picker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Room Type</mat-label>
        <mat-select formControlName="roomType" (selectionChange)="roomTypeFilterOnSelected($event.value)">
          <mat-option *ngFor="let roomType of roomTypes" [value]="roomType">
            {{roomType}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Room To Book</mat-label>
        <mat-select formControlName="room"
          [compareWith]="comparerRoomsSelection"
          (selectionChange)="onRoomSelected($event.value); onBookingFormChange()">
          <mat-option *ngFor="let room of filteredAvailableRooms" [value]="room">
            {{room.roomType}} {{room.price}}{{room.currency}} nr:{{room.roomNumber}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <div>
      Total price:
      <span style="font-size: larger; font-weight: 600;">
        {{bookingPriceCurrentSelected}} {{bookingForm.value.currency}}
      </span>

      ({{bookingForm.value.stayPeriod.checkOutDate | date: 'y-MM-dd'}} -
      {{bookingForm.value.stayPeriod.checkInDate | date: 'y-MM-dd'}})

    </div>
  </mat-card-content>

  <mat-card-actions [align]="'end'">
    <button mat-raised-button color="primary" type="submit"
      form="formRefForSubmitOutsideOfForm"
      [disabled]="!bookingForm.valid">Update Booking</button>
  </mat-card-actions>
</mat-card>
